:root {
    --body--back: var(--primary--darkmode);
    --body--C-W-H: var(--primary--darkmode);
    --body--display: var(--secondary--darkmode);
    --text--general: var(--tertiary--darkmode);
    --text--display: var(--color-bg);
    --buttons--color: var(--tertiary1--darkmode);
    --buttons--color-button: var(--color-blue--darkmode);
    --buttons--color: var(--tertiary1--darkmode);
    --buttons--color--hover: var(--tertiary--darkmode);
    --boder--liner: var(--color-black--liner);
    --color-gray: #999999;
    --color-bluedeep: #3b82f680;
    --Azuloscuro-Marino: #1565C0;
    --color-bg: #eff1f4;
    --color-white: #ffffff;
    --color-gray-dark: #424242;
    --color-blue: #1e88e5;
    --color-bluee: #1e88e58a;
    --color-blue-light: #90caf9;
    --color-orange: #ff9900a7;
    --color-orange--hover: #ff9800;
    --color-red: #f9544c;
    --color-black--liner: #331e364d;

    /* Dark mode  */
    --color-dark: #331E36;
    --color-violet: #41337A;
    --color-blue--darkmode: #6EA4BF;
    --color-light: #C2EFEB;
    --color-pale: #ECFEE8;
    --color-violet-light: #7E5BA6;
    --primary--darkmode: var(--color-dark);
    --secondary--darkmode: var(--color-violet);
    --tertiary--darkmode: var(--color-blue--darkmode);
    --primary1--darkmode: var(--color-light);
    --secondary1--darkmode: var(--color-pale);
    --tertiary1--darkmode: var(--color-violet-light);
}


/* =====================
   1. Estilos generales
   ===================== */
body {
    margin: 0;
    font-family: "Roboto", sans-serif;
    background: var(--body--back) !important;
    color: var(--color-gray-dark);
}

.main-container {
    display: grid;
    grid-template-columns: .8fr 1fr 1fr;
    gap: 10px;
    padding: 10px;
    height: calc(100vh - 60px);
}

.workspace,
.calculator,
.history {
    background: var(--body--C-W-H);
    color: var(--tertiary--darkmode);
    border-radius: 6px;
    padding: 15px;
    /* box-shadow: 0 1px 3px #dee4ec; */
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.history{
    background-color: var(--secondary--darkmode);
}
.display {
    background: var(--body--display);
    padding: 15px;
    font-size: 28px;
    border-radius: 8px;
    text-align: right;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1);
}

.display input {
    width: 95%;
    font-size: 35px;
    color: var(--text--display);
    text-align: right;
    background-color: var(--body--display);
    border: 1px solid var(--bg-display);
    border-radius: 3px;
}

.display input::placeholder {
    margin-left: 10px;
    color: var(--placeholder-color);
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    width: 90%;
    margin: 0 10px;
    transform: translate(0, 80px);
    /* Ajuste visual */
}

.buttons button {
    height: 29px;
    margin: 3px;
    padding: 7px;
    font-size: 10px;
    border: none;
    cursor: pointer;
    background: var(--tertiary1--darkmode);
    transition: background 0.2s;
}

.buttons button:hover {
    background: var(--tertiary--darkmode);
    color: var(--text--general) !important;
}

button {
    width: 100%;
    color: var(--primary--darkmode);
    font-weight: 700;
    border: none;
    border-radius: 2px;
    cursor: pointer;
}

#fontSize,
#fontSize1,
#fontSize2 {
    font-size: 12px;
    font-weight: 800;
}

.workspace-area {
    flex: 1;
    background: var(--secondary--darkmode);
    border-radius: 8px;
    padding: 10px;
    overflow-y: auto;
}

.history-item {
    background: var(--primary--darkmode);
    color: var(--tertiary--darkmode);
    padding: 10px;
    border-radius: 8px;
    font-size: 14px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    margin: 10px !important;
}

#historyTitle {
    margin: 0;
    color: var(--tertiary--darkmode);
}

/* =====================
   3. Secciones
   ===================== */
.calculation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: var(--bg-calculation);
    border-left: solid 0.5px var(--border-color);
    border-right: solid 0.5px var(--border-color);
    z-index: 1;
    margin-top: 70px;
}

.graficaa {
    display: none;
    /* Oculto por defecto */
}

h2 {
    margin: 0;
}

.noMover {
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    max-height: 700px;
}

/* .calculator .workSpace {
    width: 100%;
    background-color: var(--bg-history);
} */

.workSpace {
    display: flex;
}


/* =====================
   6. Botones (disposición)
   ===================== */
.orange,
.blackLite,
.black,
.blackLite-memory,
.basic-memory {
    width: 20%;
}

.blackLite-memory {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 280px;
    margin-top: 35px;
}

/* =====================
   7. Scroll
   ===================== */
#Memory {
    display: none;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    width: 95%;
    overflow-y: auto;
    height: 400px;
    margin: 20px 0 0 10px;
}

.scroll1 {
    display: flex;
    background-color: var(--secondary--darkmode);
    border-radius: 4px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    max-width: 500px;
}

.topBar-memory {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.style-A {
    display: none;
    margin-right: 50px;
    margin-top: 5px;
    color: var(--color-bluee);
    text-decoration: none;
    align-items: center;
}

.style-A:hover {

    color: var(--color-blue);

}

.style-A:hover #color-span {
    color: var(--color-red);

}

.height-H {
    margin-left: 25px !important;
    margin: 5px;
    color: var(--primary);
}

.scroll {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 500px;
    overflow-y: auto;
    height: 600px;

}

.scroll1 {
    max-height: 350px;
    margin: 0;
    padding: 0;
}

/* Oculta scrollbars */
.scroll::-webkit-scrollbar,
#Memory::-webkit-scrollbar {
    display: none;
}

/* =====================
   8. Historial
   ===================== */


.delete-history {
    width: 50px !important;
    background-color: var(--bg-delete) !important;
}

.history h3 {
    margin: 0;
    color: var(--color-blue);
}

/* =====================
   9. Layout auxiliar
   ===================== */
.Flex-space,
.Flex {
    display: flex;
}

.contenido {
    background-color: var(--primary--darkmode);
    color: var(--tertiary--darkmode);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    padding: 10px;
    border-radius: 8px;
    transition: all 0.3s ease-in-out;
    opacity: 1;
  margin-left: 10px;


}

#equal:hover {
    background-color: var(--primary1);
}

#equal {
    background-color: var(--primary1-5);
}

.contenido:hover {
    background-color: var(--Tertiary);
}

#color-span1 {
    color: var(--color-red);
}

.Flex-space {
    flex-direction: column;

}

.Flex {
    display: flex;
    width: 100%;
    align-items: end;
    justify-content: flex-end;


}

.Flex-left {
    display: flex;



}


.Flex:hover {
    display: flex;
    align-items: end;
    justify-content: flex-end;
}

.Flex-container {
    justify-content: flex-start;
    width: 100%;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.show-nt {
    display: none;
    align-items: center;
    justify-content: center;
}

.show-nt-grapic {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* =====================
   10. Secciones de memoria
   ===================== */

#historyContent {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 95%;
    height: 250px;
    margin-left: 10px;
}

/* =====================
   11. Botones especiales
   ===================== */
#multiBtn,
#fBtn {
    width: 50px;
    height: 30px;
    background-color: var(--bg-multi-f);
}

#multiBtn:hover {
    background-color: var(--bg-multi-fe);
}

.specialButtons {
    display: flex;
    margin: 0;
    padding: 0;
    transform: translate(-218px, 120px);
    z-index: 1;
}


/* =====================
   12. Tipos de botones
   ===================== */
.digit-button {
    background-color: var(--primary1--darkmode) !important;
}

.digit-button:hover {
    background-color: var(--bg-hover-digit);
}

.color-button {
    background-color: var(--buttons--color-button) !important;
    color: var(--primary--darkmode);
}

.color-button:hover {
    background-color: var(--bg-hover-color-btn);
}

.operation-button {
    background-color: var(--secondary--darkmode) !important;
    color: var(--text--general);
}

.operation-button:hover {
    background-color: var(--secondary--darkmode) !important;
}

.side-button,
.memoryB {
    background-color: var(--bg-side);
}

.side-button:hover,
.memoryB:hover {
    background-color: var(--bg-hover-side);
}

/* =====================
   13. Modos (básico y científico)
   ===================== */
.basic {
    display: none;
    /* Oculto inicialmente */
    align-items: center;
    justify-content: center;
    gap: 5px;
    width: 80%;
    margin: 20px 10px 0 10px;

}

.basic-memory {
    margin-top: 34px;

}


.scientific {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    width: 90%;
    margin: 5px 10px 0 0;
}

.scientific-moreButtons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    width: 90%;
    margin: 0 10px;
    transform: translate(0, 20px);
}

.grafica {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    width: 90%;
    margin: 5px 10px 0 0;
}

.grafica-moreButtons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    width: 90%;
    margin: 0 10px;
    transform: translate(0, 20px);
}

/* =====================
   14. Memoria extra
   ===================== */
.memoryButton {
    display: none;
    flex-direction: column;
}

.editarr {

    height: 30px;
    margin: 3px;
    background-color: transparent;
    color: var(--secondary);
    opacity: 1;
}

.borrar,
.Mmenos,
.Mmas {
    display: none;
    text-align: center;
    height: 30px;
    margin: 3px;
    background-color: transparent;
    color: var(--secondary);
}

.Mmenos,
.Mmas {
    font-weight: 700;
    font-size: 16px;
}


.contenido:hover .Mmenos,
.contenido:hover .Mmas,
.contenido:hover .borrar {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

}

.main-container {
    position: absolute;
}