<div class="book-step book-step--stacked" *ngIf="step.denominator !== undefined; else inlineStep">
  <div class="book-operation">
    <span class="operator" *ngIf="step.operator">{{ step.operator }}</span>
    <div class="operands">
      <div class="numerator value">{{ formatValue(step.numerator) }}</div>
      <div class="denominator value">{{ formatValue(step.denominator) }}</div>
    </div>
  </div>
  <div class="calculation-divider" aria-hidden="true"></div>
  <div class="result value">{{ formatValue(step.result) }}</div>
</div>

<ng-template #inlineStep>
  <div class="book-step book-step--inline">
    <span class="value">{{ formatValue(step.numerator) }}</span>
    <span class="operator" *ngIf="step.operator">{{ step.operator }}</span>
    <span class="equals" aria-hidden="true">=</span>
    <span class="result value">{{ formatValue(step.result) }}</span>
  </div>
</ng-template>
