<div class="book-step" *ngIf="step.denominator; else inlineStep">

  <div class="stack">
    <div class="displayFlex">
      <div class="operatorContainer">
        <div class="operator">{{ step.operator }}</div>
      </div>
      <div class="numbers">
        <div class="numerator">{{ formatValue(step.numerator) }}</div>
        <div class="denominator">{{ formatValue(step.denominator) }}</div>
      </div>
    </div>
    <div class="line">————</div>
    <div class="result">{{ formatValue(step.result) }}</div>
  </div>
</div>

<ng-template #inlineStep>
  <div class="inline-step">
    {{ formatValue(step.numerator) }}
    <span *ngIf="step.operator">{{ step.operator }}</span>
    = {{ formatValue(step.result) }}
  </div>
</ng-template>