.book-step {
  text-align: center;
  margin: 4px 0;
}

.numerator,
.denominator {
  display: block;
}

.line {
  margin: 1px 0;
  height: 14px;
}

.equals {
  margin-top: 2px;
}

.displayFlex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.operator {
  margin-top: auto;

}

.operatorContainer {
  display: flex;
  flex-direction: column;
  height: 36.6px !important;
  margin-right: 20px;
}