
.workspace-area {
    flex: 1;
    background: var(--workArea);
    border: solid 0.5px var(--boder--liner);
    border-radius: 8px;
    padding: 10px;
    overflow-y: auto;
}
.view-switch button.active {
  background: #222;
  color: white;
}
.workspace-item{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
}
.moreItems{
   display: flex;
    justify-content: center;
 
}
.moreButton {
        letter-spacing: 0.1em;
        text-transform: uppercase;
        font-weight: 900; 
        font-size: 0.75rem;
        line-height: 1rem;
        padding: 0.75rem 2rem;
        border: 2px solid rgb(15 23 42 / 1);
        transition: ease-in-out 150ms;
    }
.moreButton:hover {
            background-color: rgb(15 23 42 / 1);
            color: white;
        }
