<div class="workspace-area">

  <!-- Crear nuevo item -->
  <div *ngIf="creatingItem" class="new-item" (click)="$event.stopPropagation()">
    <input type="text" placeholder="Título del cálculo" [(ngModel)]="newItemTitle" (click)="$event.stopPropagation()" />

    <app-workspace-tags [tags]="newItemTags"></app-workspace-tags>

    <button (click)="$event.stopPropagation()" (click)="saveNewItem()">Guardar</button>
    <button (click)="$event.stopPropagation()" (click)="creatingItem = false">Cancelar</button>
  </div>

  <!-- Items del workspace -->
  <div *ngFor="let item of workspaceItems; trackBy: trackById" class="workspace-item" (click)="activateItem(item.id)">
    <h3>{{ item.title }}</h3>

    <!-- Input del item activo -->
    <div *ngIf="activeItemId === item.id" class="item-input" (click)="$event.stopPropagation()">
      <input #workspaceInput type="text" placeholder="" [ngModel]="item.currentExpression"
        (ngModelChange)="wsService.updateCurrentExpression(item.id, $event)"
        (focus)="inputService.setWorkspaceItemTarget(item.id)" />
      <button (click)="$event.stopPropagation(); evaluateWorkspaceItem()">=</button>
    </div>

    <!-- Historial del item -->
    <!-- Selector simple (solo en el activo) -->
    <div class="view-switch" *ngIf="activeItemId === item.id">
      <button (click)="$event.stopPropagation(); setViewMode('human')">Humano</button>
      <button (click)="$event.stopPropagation(); setViewMode('book')">Libro</button>
      <button (click)="$event.stopPropagation(); setViewMode('tree')">Árbol</button>
    </div>

    <!-- Historial SOLO del item activo -->
    <div *ngIf="activeItemId === item.id">
      <div *ngFor="let calc of item.calculations">
        <b>{{ calc.expression }}</b> → {{ serviseParserN.formatValue(calc.result) }}

        <!-- HUMANO -->
        <ng-container *ngIf="viewMode === 'human'">
          <ng-container *ngFor="let step of calc.humanSteps">
            <app-human-render-line [step]="step"></app-human-render-line>
          </ng-container>
        </ng-container>

        <!-- LIBRO -->
        <ng-container *ngIf="viewMode === 'book'">
          <ng-container *ngFor="let step of calc.bookSteps">
            <app-book-render-line [step]="step"></app-book-render-line>
          </ng-container>
        </ng-container>

        <!-- ÁRBOL -->
        <ng-container *ngIf="viewMode === 'tree'">
          <app-tree-node *ngIf="trees.get(calc.id!) as tree" [node]="tree"></app-tree-node>
        </ng-container>
      </div>
    </div>
    <!-- Tags -->
    <app-workspace-tags [tags]="item.tags" (tagsChange)="wsService.updateTags(item.id, $event)">
    </app-workspace-tags>
  </div>

  <button *ngIf="!creatingItem" (click)="creatingItem = true">
    Nuevo Item
  </button>
</div>