<aside class="sidebar" [style.display]="isVisible ? 'flex' : 'none'">
    <nav class="width-spacing">
        <div class="separador">
            <span class="navegar">Calculator</span>
            <a href="#" class="nose" (click)="select('basic'); $event.preventDefault()">Basic</a>
            <a href="#" class="nose" (click)="select('scientific'); $event.preventDefault()">Scientific</a>
            <a href="#" class="nose" (click)="select('graphic'); $event.preventDefault()">Graphic</a>
        </div>

        <div class="separador1">
            <span class="navegar">Categories</span>
            <a class="nose" href="#">Gallery Sections</a>
            <a class="nose" href="#">Portfolio Sections</a>
            <a class="nose" href="#">Hero Sections</a>
            <a class="nose" href="#">Header Sections</a>
            <a class="nose" href="#">Navbar</a>
            <a class="nose" href="#">Footer</a>
            <a class="nose" href="#">Gallery Sections</a>
            <a class="nose" href="#">Portfolio Sections</a>
            <a class="nose" href="#">Hero Sections</a>
            <a class="nose" href="#">Header Sections</a>
            <a class="nose" href="#">Navbar</a>
            <a class="nose" href="#">Footer</a>
            <a class="nose" href="#">Gallery Sections</a>
            <a class="nose" href="#">Portfolio Sections</a>
            <a class="nose" href="#">Hero Sections</a>
            <a class="nose" href="#">Header Sections</a>
            <a class="nose" href="#">Navbar</a>
            <a class="nose" href="#">Footer</a>
        </div>
    </nav>
</aside>