:root {
    --back: #2c2c2c;
    --card: #f9f9f9;
    --border: #7C7A7A;
    --boton: #FF5D73;
    --boton1: #000000;
    --text: #ffffff;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: var(--back);
}

/* ===== Layout General ===== */
.layout {
    display: grid;
    grid-template-rows: minmax(auto, 64px) 1fr;
    /* primera fila máximo 64px */
    min-height: 100vh;
}

.gridd2 {
    display: grid;
    grid-template-columns: 4fr 4fr;
}

/* ===== Barra Superior ===== */
.topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--back);
    border-bottom: 1px solid var(--back);
    padding: 10px 20px;
    border-bottom: solid 1px var(--border);

}

.logo {
    margin: 0;
}

.auth-buttons {
    display: flex;
    gap: 10px;
}


.btn-primary1 {
    width: 130px;
    background: var(--boton);
    color: white;
    border: none;
    padding: 8px 14px;
    border-radius: 6px;
    cursor: pointer;
    font-weight: 500;
    font-size: .875rem;

}

.menuHamburger {
    width: 60px;
    background: transparent
        /*var(--boton)*/
    ;
    color: var(--text);
    border-radius: 6px;
    cursor: pointer;
    font-weight: 500;
    height: 40px;
}



.btn-secondary2 {
    background: var(--back);
    color: var(--text);
    border: none;
    cursor: pointer;
    padding: 8px 20px 8px 20px;
    font-size: .875rem;
    line-height: 1.25rem;
}

.btn-secondary2:hover {
    border-radius: 8px;
    color: rgb(16 24 40);
    background-color: rgba(242, 244, 247, 0.799);

}

p {
    width: 60%;
    text-align: justify;
    margin-bottom: 40px;
}

/* ===== Sidebar ===== */
.sidebar {
    display: none;
    z-index: 5;
    padding: 24px 24px 24px 24px;
    background-color: rgb(255 255 255);
    border-right: 1px solid var(--border);
    overflow-y: auto;
    height: calc(100vh - 60px);

}

.sidebar::-webkit-scrollbar {
    display: none;
}

.width-spacing {
    width: 240px;
}

nav .navegar {
    padding: 20px;
    font-size: 17px;

    color: #101828;
    font-weight: 500;
    display: block;
    margin-bottom: 15px;
}

nav .nose {

    padding: 12px 20px 12px 20px;
    font-weight: 500;
    display: block;
    font-size: 1rem;
    line-height: 1.5rem;
    color: rgb(102 112 133);
    text-decoration: none;
}

nav .nose:hover {
    border-radius: 8px;
    color: rgb(16 24 40);
    background-color: rgba(242, 244, 247, 0.799);
}

.separador {
    margin-bottom: 20px;
}

.separador1 {
    margin-top: 20px;
}




