.workspace {
    display: flex;
    background: var(--body--C-W-H);
    color: var(--text--general);
    border-radius: 6px;
    padding: 15px;
    flex-direction: column;
    gap: 15px;
}

.workspace-area {
    flex: 1;
    background: var(--workArea);
    border: solid 0.5px var(--boder--liner);
    border-radius: 8px;
    padding: 10px;
    overflow-y: auto;
}
