/* src/app/components/graphic/graphic.component.css */
.graphic-component {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 500px;
  height: 700px;
}

.graphic-container {
  max-width: 500px;
  height: 700px;

  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f7f7f7;
}

/* graphic-plot.css */

.plot-container {
 
    max-width: 500px;
    height: 700px;
}
